@{
    Layout = "_Layout";
}

<h1>My Contacts</h1>
<ul>
    @foreach(var contact in Model)
    {
        <li><strong>@contact.GetName()</strong> | <em>@contact.GetPhoneNumber()</em></li>
        <p>
            @contact.GetAddress().GetStreet()<br>
            @contact.GetAddress().GetCity(), @contact.GetAddress().GetState()<br>
            @contact.GetAddress().GetZipCode()
        </p>
        <hr>
    }
</ul>

<form action="/contacts/delete" method="post">
    <button class="btn btn-default" type="button"><a href="/contacts/add">Add a New Contact</a></button>    
    <button class="btn btn-danger" type="submit">Clear All Contacts</button>
</form>
